<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="official.jahan.cprogrammingtutorials"
    android:versionCode="29">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.StartupActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.MainActivity"
            android:label="C Programming" />
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.TutorialsIntroActivity"
            android:label="Tutorial" />
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.TutorialActivity"
            android:label="Tutorial" />
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.ProgramsIntroActivity"
            android:label="Programs" />
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.ProgramActivity"
            android:label="Programs" />
        <activity
            android:name="official.jahan.cprogrammingtutorials.Activities.QuestionsActivity"
            android:label="Questions" />
        <activity android:name="official.jahan.cprogrammingtutorials.Activities.PatternProgramsIntroActivity"
            android:label="Pattern Programs"/>
        <activity android:name="official.jahan.cprogrammingtutorials.Activities.PatternProgramsActivity"
            android:label="Pattern Programs"/>
    </application>

</manifest>